html, body {
	margin: 0px;
	margin-top:25px;
	background: #fff;
	font-family: 'PT Sans', sans-serif;
	font-size:0.95em;
	color:black;
	overflow-x:hidden;
}

.context-link{
	color:#ccc !important;
	text-decoration:underline !important;
}

.pre-order{
background: #009a7f ;
background-image: url('images/herobg.png');
color: #fff;
}

.pre-order-wrap{
padding: 50px 0 100px;
}

.right-footer-list li{
	display:inline-block;
	color: #009a7f !important;
}

.pre-title h2{
color: #fff;
font-size: 32px;
font-weight: 700;
letter-spacing: -1px;
margin-bottom: 22px;
padding: 0;
text-align:left;
}

.what-is-hash-tag{
background: #009a7f;
background-image: url('images/herobg.png');
border-top: 5px solid #FFF;
color: #FFF;
padding: 30px 0;
}

.pre-order-intro{
	margin-top:30px;
}	

.green{
color:#009a7f !important;
font-size: 13px;
padding-right: 5px;
}

.what-we-made h3, .in-making h3, .who-are-we h3{
	font-size:19px;
}

.what-we-made p, .in-making p, .who-are-we p{
	font-size:15px;
}

.breadcrumb>li+li:before {
padding: 0 5px;
color: #ccc;
content: "" !important;
}

.pre-order-intro p{
font-size: 18px;
line-height: 32px;
}

.pre-order-intro h2{
color: black;
font-size: 24px;
font-weight: 300;
text-align:left !important;
}

.what-is-hash-tag img {
padding-bottom:30px;
}

.getting-started-text h2 {
text-transform: uppercase;
letter-spacing: 2px;
text-indent: 4px;
border-bottom: none;
text-transform: uppercase;
font-weight: bold;
font-size: 18px;
text-align:left;
margin:10px 0;
}


/* Product section */
.product-message {
position: relative;
border-top: 5px solid #FFF;
background: #000;
background-size:cover;
cursor:pointer;
}

.navbar-fixed-top{
	background:white !important;
}

.carousel .item {-webkit-transition: opacity 1s; -moz-transition: opacity 1s; -ms-transition: opacity 1s; -o-transition: opacity 1s; transition: opacity 1s;}
.carousel .active.left {left:0;opacity:0;z-index:2;}
.carousel .next {left:0;opacity:1;z-index:1;}

.product1{
	background:url('images/productbg.jpg');
}

.product2{
	background:url('images/productbg2.jpg');
}

.product3{
	background:url('images/productbg3.jpg');
}

.product-message .product-image {
max-width: 1600px;
height: 140px;
overflow: hidden;
margin: 0 auto;
position: relative;
overflow: hidden;
transition:height 1s;
-webkit-transition:height 1s;
}

-webkit-transition:width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition:width 2s, height 2s,

/* .product-message .product-image:before, .product-message .product-image:after {
content: '';
position: absolute;
top: 0;
bottom: 0;
left: 0;
width: 300px;
display: block;
background: -moz-linear-gradient(right,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
background: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,1)));
background: -webkit-linear-gradient(right,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
background: -o-linear-gradient(right,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(right,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
background: linear-gradient(right,rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#00000000',GradientType=1);
}
 */
.product-message .product-image img {
max-width: 100%;
height: 140px;
}

.product-message h2 {
padding-top:20px;
top: 50%;
text-align:left;
color:white;
border-bottom: none;
font-size: 35px;
line-height: 40px;
text-shadow: 0px 0px 5px rgba(0,0,0,1);
}

.product-message h3 {
padding-top:20px;
top: 50%;
text-align:left;
color:white;
border-bottom: none;
font-size: 26px;
line-height: 40px;
text-shadow: 0px 0px 5px rgba(0,0,0,1);
}

.faq-wrapper h2{
color: #6b717b;
font-size: 27px;
font-weight: bold;
padding:30px 0px;
text-align: left;
padding-left: 15px;
}

.first-slide{
	height:350px;
	background:url('images/newbg1.jpg');
	background-size:cover;
}

.second-slide{
	height:350px;
	background:url('images/newbg2.jpg');
	background-size:cover;
}

.third-slide{
	height:350px;
	background:url('images/newbg3.jpg');
	background-size:cover;
}

.controller-hover {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 45.3%;
    right: 30.6%;
    visibility: visible;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    cursor: pointer
}

.controller-hover.hide {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s linear, opacity 0.5s ease-out;
    -webkit-transition-delay: 0.5s, 0s;
    -moz-transition: visibility 0s linear 0.5s, opacity 0.5s ease-out;
    -o-transition: visibility 0s linear 0.5s, opacity 0.5s ease-out;
    transition: visibility 0s linear 0.5s, opacity 0.5s ease-out
}

.controller-hover .pulse-circle {
    width: 130px;
    height: 130px;
    border-radius: 100px;
    position: absolute;
    top: 31px;
    left: 40px;
    -webkit-box-shadow: 0 0 57px rgba(255, 255, 255, 0.75), inset 0 0 40px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0 0 57px rgba(255, 255, 255, 0.75), inset 0 0 40px rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 57px rgba(255, 255, 255, 0.75), inset 0 0 40px rgba(255, 255, 255, 0.75);
    animation: controller-pulse 5s infinite linear;
    -webkit-animation: controller-pulse 5s infinite linear;
    -moz-animation: controller-pulse 5s infinite linear;
    -ms-animation: controller-pulse 5s infinite linear;
    -o-animation: controller-pulse 5s infinite linear;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out
}

.controller-hover .pulse-circle-second {
    animation: controller-pulse 5s infinite 2.6s linear;
    -webkit-animation: controller-pulse 5s infinite 2.6s linear;
    -moz-animation: controller-pulse 5s infinite 2.6s linear;
    -ms-animation: controller-pulse 5s infinite 2.6s linear;
    -o-animation: controller-pulse 5s infinite 2.6s linear
}


@keyframes controller-pulse {
    0% {
        -webkit-transform: scale(0.35);
        -moz-transform: scale(0.35);
        -ms-transform: scale(0.35);
        -o-transform: scale(0.35);
        transform: scale(0.35);
        opacity: 0
    }
    30% {
        opacity: .4
    }
    80% {
        opacity: .4
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}

@-moz-keyframes controller-pulse {
    0% {
        -webkit-transform: scale(0.35);
        -moz-transform: scale(0.35);
        -ms-transform: scale(0.35);
        -o-transform: scale(0.35);
        transform: scale(0.35);
        opacity: 0
    }
    30% {
        opacity: .4
    }
    80% {
        opacity: .4
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}

@-webkit-keyframes controller-pulse {
    0% {
        -webkit-transform: scale(0.35);
        -moz-transform: scale(0.35);
        -ms-transform: scale(0.35);
        -o-transform: scale(0.35);
        transform: scale(0.35);
        opacity: 0
    }
    30% {
        opacity: .4
    }
    80% {
        opacity: .4
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}

@-ms-keyframes controller-pulse {
    0% {
        -webkit-transform: scale(0.35);
        -moz-transform: scale(0.35);
        -ms-transform: scale(0.35);
        -o-transform: scale(0.35);
        transform: scale(0.35);
        opacity: 0
    }
    30% {
        opacity: .4
    }
    80% {
        opacity: .4
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}

@-o-keyframes controller-pulse {
    0% {
        -webkit-transform: scale(0.35);
        -moz-transform: scale(0.35);
        -ms-transform: scale(0.35);
        -o-transform: scale(0.35);
        transform: scale(0.35);
        opacity: 0
    }
    30% {
        opacity: .4
    }
    80% {
        opacity: .4
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}


.panel-group .panel-heading+.panel-collapse>.panel-body{
	border-top: 0 !important;
}

.faq-wrapper {
	padding:30px 0;
}

.faq-section{
background: #fff;
}

.panel-default {
border:none !important;
}

.panel-title a{
	font-weight:500;
	font-size:18px;
}

.panel {
box-shadow: 0 0 0 !important;
background:transparent !important;
}

.panel-default>.panel-heading{
	background:transparent !important;
}	

.getting-started-text h1 {
font-weight: normal;
font-size: 50px;
color:white !important;
text-align:left;
text-shadow: 0px 0px 5px rgba(0,0,0,1);
}

@media screen and (min-width: 768px){
.carousel-caption {
right: 20%;
left: 5% !important;
padding-bottom: 30px;
}
}

.left-align{
	text-align:left !important;
	padding: 0 15px;
}

.getting-started-text a {
color: #ffffff;
}

a:hover, a:focus {
text-decoration: none !important;
}

.white-hover:hover{
color: #fff !important;
}

.hero-content{
font-size: 200%;
margin-bottom: 30px;
padding: 0 15px;
color:white;
text-align:left;
}

.hero-content a{
color:white;
}

.tweet-author, .tweet-permalink {
font-weight: 300;
font-size: 100%;
margin-top: 40px;
color:white;
}

h1.permalink{
 font-size:26px;
 line-height:30px;
 position:absolute;
 margin-top:-170px;
 padding-left:15px;
}

h1 a{
/* 	color:#ededed !important;
	text-decoration:underline !important; */
}

.subNav li{
	float:left;
}

.what-we-made, .in-making{
	margin-top:20px;
}

.nough-said h2{
margin-top:15px;
font-weight:700;
	text-align:left !important;
}

.work-progress-wrap{
background-image: url('images/workinprogress.jpg');
background-repeat:no-repeat;
height:360px;
width: 400px !important;
margin: auto  !important;

}

.work-wrap{
	margin-top:60px;
	margin-bottom:40px;
}

#subnavbar{
background: url('images/subnavbg.png') repeat-x #efefef;
border-top: 1px solid #eee;
height: auto;
clear: both;
right: 0;
left: 0;
transition:1s;
}

.learn-more-btn{
	margin-top:30px;
}

a.active-trail:after {
position: absolute;
content: '';
display: block;
bottom: -10px;
left: 50%;
content: '';
border: 5px solid #ccc;
border-color: #e9e9e9 transparent transparent;
margin-left: -5px;
z-index: 400;
}

#subnav-wrapper{
	padding-left:0px !important;
}

.no-left-padding{
	padding-left:0px !important;
}

.white-hover{
	color:white !important;
	text-decoration:none;
}

.subNav li a{
/* color: #2290bf; */
color: #555;
position: relative;
margin: 0 -1px;
padding: 15px 30px;
font-size: 13px;
text-shadow: none;
line-height: 1;
vertical-align: middle;
}

.alert-block{
background-color: #fcf8e3;
color: #c09853;
}

.customBtn{
background:#009a7f !important;
border-color: green !important;
}

a.active-trail {
color: #2290bf !important;
background: #e9e9e9 !important;
border-left: 1px solid #d9d9d9;
border-right: 1px solid #d9d9d9;
position: relative;
}

.subNav li a:hover{
color: #2290bf !important;
background: #e9e9e9 !important;
}

.blue-hash{
color:#009a7f !important;margin-right:2px;font-weight:bold;
}

.underline{
	text-decoration:underline !important;
}

.usertag p a, .tweet-time{
	color:white;
	font-size:14px;
	text-decoration:underline;
}

.usertag{
	margin-top:50px;
}

.loginbox{
	position:relative;
}

h1.title{
	color:white;
	font-size:28px;
	font-weight:bold;
}

.forgotPwdLink{
padding-top: 10px;
font-size: 12px;
margin-left: 10px;
text-decoration: underline;
}

.white-launch-preorder{
	background:white !important;
	color:#009a7f !important;
}

.platform-badge-container{
	margin-top:20px;
}

.show-for-phones{
	display:none !important;
}

#regbox{
	background:white;
	padding:10px;
	border: 1px solid #e1e8ed;
	border-radius:10px;
	box-shadow: 0 0 5px #ffffff;
	-moz-box-shadow: 0 0 5px #ffffff;
	-webkit-box-shadow: 0 0 5px #ffffff;
	margin-bottom:20px;
}

#regbox h2{
border-bottom: 1px solid #e1e8ed;
box-shadow: 0 1px 0 #fff;
color: #66757f;
display: block;
font-size: 16px;
font-weight: 300;
margin-bottom: 12px;
padding: 10px 12px;
position: relative;
text-shadow: 0 1px 0 rgba(255,255,255,0.6);
}

#slideit{
	background-size:cover;
}

h1 {
	margin: 0;
	text-align: center;
	font-size: 150%;
	padding: 0px;
}

h2 {
	margin: 0;
	text-align: center;
	font-size: 120%;
	padding: 0px;
}

h3 {
	margin: 0;
	font-size: 105%;
	padding: 0px;
}

.navbar{
	margin-bottom:0px !important;
}	

#left-nav ul{
	padding-left:0px !important;
}

/* a {
	color:#4d4948;
} */

.welcomeDiv h1{
color: #fff;
font-size: 38px;
line-height: 44px;
margin-bottom: 30px;
text-shadow: none;
text-align:left;
}

#top {
/* 	margin: 0 auto 0 auto;
	padding: 15px;
	background:url('images/top-bg.jpg') repeat-x;
	width:100%;
	background-size: cover;
	height: 200px; */
}

#bottom{
	/* margin-top:30px; */
	clear:both;
	background:url('images/subnavbg.png');
	padding: 30px 0;
}

.carousel-indicators li{
	background:#86ffd5  !important;
}

#hero .hero-wrap-outer {
background-image: url("images/aboutbg1.png");
background-size:cover;
background-repeat: no-repeat;
background-position: top center;
}

#hero.hero-tall .hero-wrap-outer {
min-height: 150px;
background-position: center center;
}

#hero .hero-wrap-inner {
padding:30px 0;
margin: 0 auto;
vertical-align: middle;
position: relative;
z-index: 400;
}

.list-group-item {
padding: 9px 15px !important;
}

.address-quote{
	margin-top:15px;
}

.address-quote p{
	font-size:15px !important;
	line-height:13px !important;
}

blockquote {
border-left: 5px solid #009a7f !Important;
}

.tag-for{
display: block;
overflow: auto;
margin: 0 30px;
text-decoration: none;
}

.tag-for .tag-for-illustration {
float: left;
margin-right: 10px;
background: url("https://g.twimg.com/sites/about/modules/internal/features/feature_corporate/img/sprite2.png") no-repeat;
width: 150px;
height: 150px;
}

.tag-for-media .tag-for-illustration {
background-position: 0 -153px !important;
}

.tag-for-developers .tag-for-illustration {
background-position: 0 -312px!important;
}

.legal-page-wrap{
	margin-top:20px;
	margin-bottom:30px;
}	

.legal-wrap{
	margin-top:20px;
}

.legal-page-wrap h3{
	font-size:20px;
	color:#009a7f !important;
}

.legal-wrap h2{
	text-align:left !important;
	font-size:18px;
	color:#009a7f !important;
}

.tag-for h3 {
margin-top: 12px;
font-size: 19px;
color:black;
font-weight:500;
}

.get-in-touch h2{
text-align:left !important;
}

.tag-for p {
font-size: 15px;
margin-top:5px;
line-height: 150%;
color: #666;
}

#hero h1#page-title {
color: #fff;
font-size: 40px;
font-weight: 700;
line-height: 1;
max-width: 100%;
margin-bottom: 0;
text-shadow: 0 1px 2px #666;
}

#hero #tagline {
color: #fff;
font-size: 24px;
font-weight: 300;
/* line-height: 300; */
margin-top: 5px;
text-align: center;
margin-bottom: 0;
}


.carousel-indicators li.active{
	background:#009a7f  !important;
}

.my-carousel {
min-height: 464px;
margin-top: -50px;
}
.faq-carousel {
background: url('images/hand-with-phone.png');
min-height: 464px;
margin-top: -50px;
margin-left: -45px;
}
.phone-carousel .item{
	margin-top: 122PX;
margin-left: 92PX;
}

a, .navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
color: #009a7f !important;
background-color: transparent;
text-decoration:none !important;
}

.navbar {
min-height: 40px !important;
}

#content{

}


.profilePic{
	float:left;
	margin-bottom:15px;
}

.account-page-wrap{
	margin-top:20px;
}

.profilePic img{
background-color: #fff;
border: 4px solid #292f33;
-webkit-border-radius: 2px;
height: 160px;
width: 160px;
}

.login-textwrapper{
	max-width:550px;
	margin:auto;
}

.welcomeDiv p{
color: #fff;
font-size: 21px;
line-height: 31px;
text-shadow: none;
}

#main h1, #main h2{
/* 	text-align:left;
	margin-bottom:20px;
	color: #3b5998;
	cursor: pointer; */
}

.text a, .username a, .tweet-time{
	color:white !important;
}

.profile-username{
	float:left;
}

.userName{

}

.profile-username  h3{
	color: #292f33;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
	text-decoration:underline;
}

ul{
	list-style-type:none !important;
}

.popular-tags{
clear: both;
padding-top: 20px;
}

.well{
padding: 5px !important;
background:url('images/subnavbg.png') repeat-x #efefef;
}

.no-padding{
	padding:0px !important;
}

#subscribe-form .col-md-2{
	max-width:60px;
	margin-top:5px;
}

#main .faq-page-wrap'{
	padding-left:0px !important;
}

.faq-page-faqs .faq-page-faqs .panel-heading{

}

#subscribe-form{
/* 	padding-top:0px; */
}

#status, #phone, .input-group-addon{
	border:0px  !important;
	box-shadow:none !important;
	/* background:transparent !important; */
	color:#009a7f !important
}

.details .col-md-1{
	padding-top:6px;
}

.details .col-md-1 label{
	font-size: 14px;
	font-weight:300;
}


.bs-example {
margin-right: 0;
margin-left: 0;
background-color: #fff;
border-color: #ddd;
border-width: 1px;
border-radius: 4px 4px 0 0;
-webkit-box-shadow: none;
box-shadow: none;
position: relative;
padding: 25px 15px 0px;
margin: 0 0 15px;
border-color: #e5e5e5 #eee #eee;
border-style: solid;
border-width: 1px;
}

.recent-photos{
clear:both !important;
	margin-top:20px;
}

.bs-example:after {
position: absolute;
top: 5px;
left: 15px;
font-size: 12px;
font-weight: 700;
color: #959595;
text-transform: uppercase;
letter-spacing: 1px;
content: "Quick Update";
}

hr{
margin-top: 10px;
margin-bottom: 10px;
border: 0;
border-top: 1px solid #eee;
}

.popular-tags h3{

}

ul{
	padding-left:0px;
}

.userName h2{
	color: #292f33;
	font-weight: 700;
	font-size: 15px;
	line-height: 21px;
	margin-top:5px;
}

table.admin td {
	vertical-align: top;	
}

.form-group{
	margin-bottom:10px !important;
}

#error {
	display:block;
	margin:5px;
	color:#4d4948;
	background-color:#fffebe;
	border: 1px solid #cbcbcb;
	font-size:90%;
}

#success {
	margin:5px;
	color:#4d4948;
	background-color:#bce9b5;
	border: 1px solid #7ace6c;
	font-size:90%;
}

.footer-item-list ul li{
	list-style-type:none;
	
}

.footer-item-list ul li a{
	color: #8d8d85;
	transition:1s;
	text-shadow: 0px 0px 5px rgba(0,0,0,1);
}

.footer-item-list ul li a:hover{
	color: white;
	text-decoration:underline;
}

.footer-item-list{
	padding-top:15px;
}

.footer-item-list h3{
font-size: 16px;
font-weight: bold;
padding-top: 30px;
color:#c0c0c0 !important;
border-bottom: 1px solid #333333;
padding-bottom:10px;
}

.footer-item-list ul{
	padding-left:0px;
	padding-top:15px;
}

.people-suggestion-list li:first-child{
	padding-top:0px !important;
}

.people-suggestion-list li:last-child{
	border-bottom:none !important;
}

.carousel-caption h1{
	text-align:left !important;
}

.carousel-caption h3{
	text-align:left !important;
	position:absolute;
	margin-top:-50px;
	font-size:20px;
	padding-left:15px;
}



.people-suggestion-list li{
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:1px solid #eeeeee;
}

.picture-container{
	float:left;
}

.profile-snapshot p, .profile-snapshot a{
	color:#8899a6;
	font-size:12px;
	margin-bottom:0px;
	text-shadow: none;
	-webkit-transition: 500ms linear 0s;
	-moz-transition: 500ms linear 0s;
	transition: 500ms linear 0s;
	outline: 0 none;
}

.profile-snapshot a:hover{
	color:black !important;
	text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
	text-decoration:underline !important;
}

.profile-snapshot{
	float:left;
	margin-left:6px;
}